$breakpoints: (
  sm: 300px,
  sm-md: 400px,
  md-sm: 500px,
  md: 768px,
  md-md-lg: 824px,
  md-md: 900px,
  sm-lg: 1100px,
  lg: 1224px,
  lg-lg: 1424px,
);

@mixin button-primary(
  $primary-color,
  $primary-hover,
  $color-font,
  $font-hover,
  $border,
  $border-hover
) {
  transition: 0.25s;
  border: $border;
  color: $color-font;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: $primary-color;
  &:active {
    transform: scale(0.95);
  }
  &:hover {
    background-color: $primary-hover;
    border: $border-hover;
    color: $font-hover;
  }
}

@mixin media-up($breakpoint) {
  @media screen and (min-width: map-get($breakpoints,$breakpoint)) {
    @content;
  }
}

@mixin input-default() {
  border: 0;
  box-shadow: inset 1px 1px 2px rgba($color: #000000, $alpha: 0.25),
    inset -1px -1px 2px rgba($color: #000000, $alpha: 0.05);
  border-radius: 0.2rem;
  &:focus {
    background-color: white;
    border: 1px solid black;
    outline: none;
  }
}

@mixin dflex($jcontent, $aitems, $flexdirection) {
  display: flex;
  justify-content: $jcontent;
  align-items: $aitems;
  flex-direction: $flexdirection;
}

@mixin dgrid($rows, $columns, $p-items, $p-content) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  place-items: $p-items;
  place-content: $p-content;
} ;
