@use "src/styles/shared/mixins.scss";
@import "src/styles/shared/variables.scss";

@mixin checkbox {
  border-radius: 0.25rem;
  width: 25px;
  height: 25px;
  transition: 0.25s;
  @include mixins.dflex(center, center, row);
  box-shadow: inset 0px 0px 2px rgba($color: #000000, $alpha: 0.25);
}

.checkBoxOff {
  @include checkbox();
  &.darkMode {
    border: 1px solid $color--1-darkmode;
    background-color: $color-0-darkmode;
  }
}
.checkBoxOn {
  @include checkbox();
  background-color: $color-primary;
}
