@mixin checkbox {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  transition: 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 2px rgba($color: #000000, $alpha: 0.25);
}

.checkBoxOff {
  @include checkbox();
}
.checkBoxOn {
  @include checkbox();
  background-color: #e94560;
}
