@use "src/styles/shared/mixins.scss";
@import "src/styles/shared/variables.scss";

section.grid {
  .section-create-routine {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    @include mixins.dgrid(7.5vh 1fr, none, normal, normal);
    height: 100vh;

    .button-cancel,
    .button-timer,
    .container-add-exercise input,
    .container-submit input {
      height: 35px;
    }
    .button-cancel,
    .button-timer,
    .container-add-exercise input {
      width: 120px !important;
    }
    .header-create-routine {
      p {
        font-size: 1.5rem;
      }
      margin: 0rem 1rem;
      height: 7.5vh;
      font-weight: 600;
      @include mixins.dflex(space-between, center, row);
      .button-cancel,
      .button-timer {
        @include mixins.dflex(center, center, row);
        @include mixins.button-primary(
          rgb(235, 235, 235),
          rgb(225, 225, 225),
          black,
          black,
          0,
          0
        );
        input {
          border: 0;
          background: transparent;
        }
      }
      .button-timer {
        @include mixins.button-primary(
          $color-primary,
          $color-primary-hover-button,
          white,
          white,
          0,
          0
        );
        input {
          cursor: pointer;
          color: white;
        }
      }
    }
    .form-create-routine {
      @include mixins.dgrid(12.5vh 7.5vh 1fr 7.5vh, none, normal, normal);
      .stats-goroutine {
        @include mixins.dflex(center, stretch, column);
        padding-left: 2rem;
        h2,
        p {
          margin: 0.25rem 0rem;
        }
      }
      .exercises-list-routine.error {
        .empty-list-routine p {
          color: red;
        }
      }
      .input-name-routine {
        @include mixins.dflex(center, stretch, column);

        label,
        p {
          margin: 0 1rem;
        }
        label {
          font-size: 0.85rem;
        }
        input {
          width: calc(100% - 2rem);
          margin: 0.5rem 1rem;
          height: 40px;
          border: 1px solid silver;
          border-radius: 0.2rem;
          &.error {
            border: 1px solid red;
          }
          &::placeholder {
            color: rgba($color: #000000, $alpha: 0.25);
          }
        }
        p {
          margin-top: 5px;
          font-size: 0.85rem;
        }
      }
      .container-add-exercise {
        width: calc(100% - 2rem);
        margin: 0 1rem;
        @include mixins.dflex(space-between, center, row);
        p {
          font-weight: 550;
        }
        input {
          @include mixins.button-primary(
            transparent,
            $color-primary,
            $color-primary,
            $color-0-lightmode,
            1px solid $color-primary,
            1px solid $color-primary
          );
        }
      }
      .container-submit {
        @include mixins.dflex(center, center, row);
        input {
          @include mixins.button-primary(
            $color-primary,
            $color-primary-hover-button,
            white,
            white,
            0,
            0
          );
          width: calc(100% - 2rem);
          font-weight: 800;
        }
      }
      .create-errors {
        font-style: italic;
        font-size: 0.9rem;
        text-align: center;
        @include mixins.dflex(center, center, column);
      }
    }
    footer {
      @include mixins.dflex(center, center, row);
      font-size: 1.25rem;
      .p-doit {
        span {
          font-weight: 700;
        }
      }
    }
  }
  &.darkMode {
    background-color: $color--1-darkmode !important;
    .section-create-routine .form-create-routine .exercises-list-routine {
      background-color: $color-2-darkmode !important;
    }
    .section-create-routine {
      background-color: $color-0-darkmode !important;
      .header-create-routine {
        color: white;
        .button-cancel {
          background-color: $color-2-darkmode;
          input,
          svg {
            color: $color-0-lightmode;
          }
        }
      }
      .form-create-routine {
        .stats-goroutine {
          color: $color-0-lightmode;
        }
        .input-name-routine {
          label {
            color: $color-0-lightmode;
          }
          input {
            background-color: $color--1-darkmode;
            color: $color-0-lightmode;
            &::placeholder {
              color: rgba($color: $color-0-lightmode, $alpha: 0.35);
            }
          }
        }
        .container-add-exercise {
          color: $color-0-lightmode;
        }
        .exercises-list-routine {
          background: $background-gradient-darkmode !important;
          .empty-list-routine {
            color: $color-3-darkmode;
          }
        }
      }
    }
  }
}
