@use "src/styles/shared/mixins.scss";
@import "src/styles/shared/variables.scss";

.header-create-routine {
  padding: 0rem 1rem;
  height: 7.5vh;
  font-weight: 600;
  @include mixins.dflex(space-between, center, row);
  .close-button {
    @include mixins.x-button();
  }
}

.main-create-routine {
  box-shadow: 1px 1px 6px rgba($color: #000000, $alpha: 0.25);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin: 0px 2.5vw;
  @include mixins.dgrid(75vh 7.5vh 10vh, none, normal, normal);
  .form-create-routine {
    @include mixins.dgrid(12.5vh 1fr 7.5vh, none, normal, normal);
    .exercises-list-routine.error {
      .empty-list-routine p {
        color: red;
      }
    }
    .input-name-routine {
      @include mixins.dflex(center, center, column);
      input {
        @include mixins.input-default();
        width: 90%;
        height: 55%;
        border: 1px solid silver;
        border-radius: 0.2rem;
        text-align: center;
        &::placeholder {
          text-align: center;
          font-style: italic;
        }
      }
      p {
        margin-top: 5px;
        font-size: 0.85rem;
      }
    }
    .container-submit {
      @include mixins.dflex(center, center, row);
      grid-area: 3/ 1 / 4 /2;
      input {
        @include mixins.button-primary(
          $color-primary,
          $color-primary-hover-button,
          white,
          white,
          0,
          0
        );
        width: calc(100% - 2rem);
        height: 65%;
        font-weight: 800;
      }
    }
    .create-errors {
      font-style: italic;
      font-size: 0.9rem;
      text-align: center;
      @include mixins.dflex(center, center, column);
    }
  }
  .container-add-new-exercise {
    @include mixins.dflex(center, center, row);
    button {
      @include mixins.button-primary(
        rgb(234 231 231),
        rgb(224, 224, 224),
        black,
        black,
        0,
        0
      );
      width: calc(100% - 2rem);
      height: 65%;
      font-weight: 800;
    }
  }
  footer {
    @include mixins.dflex(center, center, row);
    font-size: 1.25rem;
    .p-doit {
      span {
        font-weight: 700;
      }
    }
  }
}
