@use "src/styles/shared/mixins.scss";
@import "src/styles/shared/variables.scss";

.div-search {
  @include mixins.input-search();
  @include mixins.dflex(center, center, row);
  background-color: transparent;
  span {
    width: calc(100% - 2rem);
  }
}

.routine-container {
  width: calc(100% - 2rem);
  height: 25vh;
  min-height: 25vh;
  align-self: center;
  background-color: white;
  box-shadow: 1px 1px 8px rgba($color: #000000, $alpha: 0.15);
  border-radius: 0.5rem;
  margin: 1rem;
  display: grid;
  grid-template-rows: 30% 40% 30%;
  .routine-container-header {
    width: 100%;
    padding: 0 1rem;
    @include mixins.dflex(space-between, center, row);
    position: relative;
    p {
      font-size: 1.2rem;
      font-weight: 700;
    }
    .delete-button {
      @include mixins.dgrid(100%, 20% 80%, normal, normal);
      @include mixins.button-primary(
        rgb(233, 233, 233),
        rgb(224, 224, 224),
        gray,
        gray,
        0,
        0
      );
      place-items: center;
      padding: 0.25rem 0.5rem;
      p {
        color: gray;
      }
      button {
        background-color: transparent;
        border: 0;
      }
    }
  }
  .routine-container-stats {
    padding: 0 1rem;
    font-size: 0.75rem;
    @include mixins.dflex(space-around, stretch, column);
  }
  .routine-container-button {
    width: 100%;
    align-self: center;
    margin-left: 1rem;
    button {
      width: calc(100% - 2rem);
      padding: 0.5rem 2rem;
      @include mixins.button-primary(
        $color-primary,
        $color-primary-hover-button,
        white,
        white,
        0,
        0
      );
    }
  }
}

.main-dashboard {
  display: grid;
  height: 100vh;
  grid-template: 7.5vh 1fr/ 100%;
  .home {
    max-height: calc(100vh - 7.5vh);
    @include mixins.dgrid(20% 5% 75%, 100%, normal, normal);
    .container-user-dashboard {
      text-align: center;
      justify-self: center;
      align-self: center;
      padding-left: 1rem;
      p {
        color: $color-primary;
        font-weight: 500;
      }
    }
    .header-last-workouts {
      place-self: center;
    }
    .list-last-routines {
      overflow: auto;
    }
  }
  .routines {
    max-height: calc(100vh - 7.5vh);
    @include mixins.dgrid(15% 7.5% 1fr, 100%, normal, normal);
    .section-list-routines {
      background: linear-gradient(
        180deg,
        rgb(255, 255, 255) 0%,
        rgb(251 251 251) 100%
      );
      overflow: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .footer {
      @include mixins.dflex(center, center, row);
    }
  }
  .folders {
    @include mixins.dgrid(15% 7.5% 1fr, 100%, normal, normal);
  }
  .section-nav-dashboard {
    @include mixins.dflex(space-between, center, row);
    padding: 0 1rem;
    .pic-nav {
      background-color: #909090;
      width: 4vh;
      height: 4vh;
      border-radius: 1rem;
    }

    .menu {
      z-index: 999;
      height: 100vh;
      position: absolute;
      display: grid;
      grid-template-rows: 7.5vh repeat(6, 1fr);
      width: 100%;
      left: 0;
      background-color: rgb(250, 250, 250);
      top: -100vh;
      .header-menu {
        @include mixins.dflex(space-between, center, row);
        padding: 0 1rem;
        p {
          font-weight: 650;
        }
      }
      .button-menu {
        width: 30%;
        place-content: center;
        justify-self: center;
        align-self: center;
        @include mixins.dgrid(100%, 40% 60%, normal, normal);
        @include mixins.button-primary(
          rgb(250, 250, 250),
          rgb(250, 250, 250),
          black,
          black,
          0,
          0
        );
        border-radius: 0 !important;
        button {
          cursor: pointer;
          border: 0;
          background-color: transparent;
          text-align: center;
          color: rgb(105, 105, 105);
        }
        svg {
          font-size: 1.25rem;
          align-self: center;
          justify-self: center;
          fill: rgb(105, 105, 105);
        }
        &:active {
          svg {
            fill: $color-primary;
          }
        }
      }
      .viewMode {
        @include mixins.dflex(flex-start, center, row);
        padding-left: 1rem;
      }
    }
    .menu.active {
      animation: activeMenu 0s;
      top: 0;
    }
    .menu.unactived {
      animation: unactiveMenu 0s;
      top: -100vh;
    }
  }

  @keyframes activeMenu {
    0% {
      top: -100vh;
    }
    100% {
      top: 0;
    }
  }

  @keyframes unactiveMenu {
    0% {
      top: 0;
    }
    100% {
      top: -100vh;
    }
  }

  .section-add-routine,
  .section-add-folder {
    width: 100%;
    height: 100%;
    @include mixins.dflex(space-between, center, row);
    padding: 0 1rem;
    button {
      width: 30%;
      height: 30%;
      @include mixins.button-primary(
        transparent,
        $color-primary,
        $color-primary,
        white,
        1px solid $color-primary,
        1px solid $color-primary
      );
    }
  }
}

.main-dashboard.darkMode {
  .section-list-routines {
    background: linear-gradient(180deg, #1a1a2e, #082032 100%) !important;
  }
  .routine-container,
  .menu {
    .header-menu {
      svg {
        color: white;
      }
    }
    background-color: #10344e !important;
    .button-menu {
      transition: 0s !important;
      color: white !important;
      background-color: transparent !important;
      svg {
        fill: white;
      }
      button {
        color: white;
      }
    }
  }
}
