@use "src/styles/shared/mixins.scss";
@import "src/styles/shared/variables.scss";

.exercises-list-routine {
  display: flex;
  flex-direction: column;
  max-height: 65vh;
  overflow: auto;
  background: linear-gradient(180deg, #ffffff, #fafafa 100%) !important;
  .empty-list-routine {
    @include mixins.dflex(center, center, row);
    height: 100%;
    font-weight: thin;
    font-style: italic;
    color: silver;
    font-size: 0.85rem;
  }
  .exercise {
    background-color: white;
    margin: 15px 1rem;
    box-shadow: 0.5px 0.5px 4px rgba($color: #000000, $alpha: 0.15),
      0.5px 0.5px 4px rgba($color: #000000, $alpha: 0.15);
    border-radius: 0.25rem;
    .exercise-header {
      cursor: pointer;
      height: 7vh;
      .exercise-name {
        font-weight: 700;
        font-size: 1.2rem;
      }
      .exercise-info {
        .exercise-type,
        .exercise-muscle {
          font-size: 0.75rem;
          font-style: italic;
          margin: 0.25rem 0;
        }
      }
      .delete-button {
        @include mixins.x-button();
      }
    }
    .exercise-info {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      background: linear-gradient(359deg, #ffffff, #fbfbfb 100%) !important;
      .stats-second-floor {
        padding: 0.5rem 0;
        font-size: 0.75rem;
        @include mixins.dgrid(auto, auto, center, normal);
      }
      .stats-second-floor.double-input {
        grid-template: 100% / 10% 45% 15% 15% 15% !important;
      }
      .stats-second-floor.single-input {
        grid-template: 100%/10% 45% 30% 15% !important;
      }
      .listSerie {
        .first-serie,
        .serie {
          height: 50px;
        }
        .first-serie {
          @include mixins.dflex(center, center, row);
          font-size: 0.75rem;
          color: silver;
          font-style: italic;
        }
        .serie {
          height: 50px;
          background-color: transparent;
          .delete-serie {
            @include mixins.x-button();
          }
          .lock {
            background-color: rgb(240, 240, 240);
            @include mixins.dflex(center, center, row);
            svg {
              fill: silver;
            }
          }
          .input-reps,
          .input-type,
          .lock {
            width: 3vh !important;
            height: 3vh;
            border-radius: 0.25rem;
            text-align: center;
          }
          .input-reps {
            background-color: rgb(240, 240, 240);
            border: none;
          }
          .input-type {
            border: 1px silver solid;
          }
          .delete-button {
            @include mixins.x-button();
          }
        }

        .serie.need {
          background: rgb(255, 233, 233);
        }

        .container-add-serie {
          border-radius: 0.25rem;
          z-index: 99;
          background-color: white;
          height: 5vh;
          @include mixins.dflex(center, center, row);
          button {
            @include mixins.button-primary(
              transparent,
              $color-primary,
              $color-primary,
              white,
              1px solid $color-primary,
              1px solid $color-primary
            );
            width: calc(100% - 1rem);
            height: 60%;
            margin: 0 0.5rem;
          }
        }
      }
    }
    &.darkMode {
      background-color: $color-2-darkmode;
      color: $color-0-lightmode;
      .exercise-info {
        background: none !important;
        .stats-second-floor {
          background-color: $color-1-darkmode;
        }
        .listSerie {
          background: $color-0-darkmode;
          .serie {
            .delete-serie,
            .lock {
              background-color: $color-2-darkmode;
              svg {
                fill: white;
              }
            }
            input.inputSerie,
            input.input-type,
            input.input-reps {
              background-color: $color--1-darkmode;
              border: 1px solid $color-3-darkmode;
              color: white;
            }
            &.checked {
              opacity: 25%;
              background-color: $color-2-darkmode !important;
            }
            &.unchecked {
              background: rgba($color: $color-primary, $alpha: 0.25);
            }
          }
          .container-add-serie {
            background-color: $color-2-darkmode !important;
          }
        }
      }
    }
  }
  &.darkMode {
    &::-webkit-scrollbar-track {
      background: $color--1-darkmode !important;
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-2-darkmode !important;
      border-radius: 1rem;
    }
    .exercise .exercise-info .listSerie {
      &::-webkit-scrollbar-track {
        background: $color--1-darkmode !important;
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background: $color-2-darkmode !important;
        border-radius: 1rem;
      }
    }
  }
}
