@use "src/styles/shared/mixins.scss";
@import "src/styles/shared/variables.scss";

.header-goroutine {
  height: 7.5vh;
  @include mixins.dflex(end, center, row);
  span {
    @include mixins.dflex(center, center, row);
    @include mixins.button-primary(
      $color-primary,
      $color-primary-hover-button,
      white,
      white,
      0,
      0
    );
    padding: 0.5rem;
    margin-right: 2.5vw;
    p {
      margin-right: 5px;
    }
    svg {
      fill: white;
      margin-left: 5px;
    }
  }
}
.main-goroutine {
  @include mixins.dgrid(75vh 7.5vh 10vh, none, normal, normal);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  .form-goroutine {
    @include mixins.dgrid(15vh 1fr 7.5vh, none, normal, normal);
    .stats-goroutine {
      @include mixins.dflex(center, start, column);
      padding-left: 1rem;
      h2 {
        padding: 1rem 0;
      }
      p {
        font-size: 0.9rem;
        padding-bottom: 0.25rem;
      }
    }

    .exercises-list-routine {
      height: 100%;
      .exercises-list-routine-empty {
        @include mixins.dflex(center, center, row);
        height: 100%;
        font-style: italic;
        color: silver;
      }
    }
    .container-submit {
      @include mixins.dflex(center, center, row);
      input {
        @include mixins.button-primary(
          $color-primary,
          $color-primary-hover-button,
          white,
          white,
          0,
          0
        );
        width: calc(100% - 2rem);
        height: 65%;
      }
    }
  }
  .container-add-new-exercise {
    @include mixins.dflex(center, center, row);
    button {
      @include mixins.button-primary(
        rgb(235, 233, 233),
        rgb(224, 224, 224),
        black,
        black,
        0,
        0
      );
      width: calc(100% - 2rem);
      height: 65%;
    }
  }
}
footer {
  @include mixins.dflex(center, center, row);
  font-size: 1.25rem;
  .p-doit {
    span {
      font-weight: 700;
    }
  }
}
