.header-goroutine {
  height: 7.5vh;
  display: flex;
  justify-content: end;
  align-items: center;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: #e94560;
    border-radius: 0.25rem;
    margin-right: 2.5vw;
    cursor: pointer;
    p {
      margin-right: 5px;
      color: white;
    }
    svg {
      margin-left: 5px;
      fill: white;
    }
    &:active {
      transform: scale(0.9);
    }
    &:hover {
      background-color: #ca3049;
    }
  }
}
.main-goroutine {
  display: grid;
  grid-template-rows: 75vh 7.5vh 10vh;
  margin: 0px 2.5vw;
  box-shadow: 1px 1px 6px rgba($color: #000000, $alpha: 0.25);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  .form-goroutine {
    display: grid;
    grid-template-rows: 15vh 1fr 7.5vh;
    .stats-goroutine {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      align-items: start;
      justify-content: center;
      h2 {
        padding: 1rem 0;
      }
      p {
        font-size: 0.9rem;
        padding-bottom: 0.25rem;
      }
    }

    .exercises-list-routine {
      height: 100%;
      .exercises-list-routine-empty {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-style: italic;
        color: silver;
      }
    }
    .container-submit {
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        width: calc(100% - 2rem);
        height: 65%;
        background-color: #e94560;
        border: 0;
        border-radius: 0.25rem;
        color: white;
        &:active {
          transform: scale(0.9);
        }
        &:hover {
          background-color: #ca3049;
        }
      }
    }
  }
  .container-add-new-exercise {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: calc(100% - 2rem);
      border: 0;
      border-radius: 0.25rem;
      height: 65%;
      &:hover {
        background-color: rgb(224, 224, 224);
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  .p-doit {
    span {
      font-weight: 700;
    }
  }
}
