@use "src/styles/shared/mixins.scss";
@import "src/styles/shared/variables.scss";

input[type="number"] {
  -webkit-appearance: textfield !important;
  margin: 0;
  -moz-appearance: textfield !important;
}

.listSerie {
  @include mixins.dflex(space-around, stretch, column);
  display: flex;
  .serie {
    @include mixins.dgrid(auto, auto, center, normal);
    transition: 0.5s;
    background: white;
    input {
      text-align: center;
      &::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
    }
  }
  .serie.checked {
    background-color: #eeeeee !important;
    opacity: 50%;
    input {
      background: transparent;
      border: 1px solid gray;
      border-radius: 0.1rem;
    }
  }
  .typeAditional,
  .typeSupport {
    grid-template: 100% / 10% 45% 15% 15% 15% !important;
  }
  .typeOnlyRep,
  .typeTime {
    grid-template: 100% / 10% 45% 30% 15% !important;
    .inputSerie {
      @include mixins.dflex(center, center, row);
      width: 90% !important;
    }
  }
  .typeOnlyRep {
    .inputSerie {
      width: 20vw;
    }
  }
  .typeTime {
    width: 100%;
  }
}
