@use "src/styles/shared/mixins.scss";
@import "src/styles/shared/variables.scss";

.modal-select {
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  width: calc(100% - 2rem);
  background-color: white;
  height: 80vh;
  margin: 10vh 1rem;
  box-shadow: 1.5px 1.5px 8px rgba($color: #000000, $alpha: 0.1),
    1.5px 1.5px 8px rgba($color: #000000, $alpha: 0.1);
  @include mixins.dgrid(12.5% 12.5% 1fr 7.5vh, 100%, normal, normal);
  .modal-select-header {
    width: calc(100% - 2rem);
    margin: 0 1rem;
    @include mixins.dflex(space-between, center, row);
    p {
      font-size: 1.25rem;
      font-weight: 700;
    }
    span {
      @include mixins.x-button();
    }
  }

  .modal-select-search {
    width: calc(100% - 2rem);
    margin: 0 1rem;
    @include mixins.input-search();
    display: flex;
    span {
      height: 40px;
      border: 1px solid silver;
      width: 100%;
      align-self: center;
    }
  }

  .modal-select-list {
    overflow: auto;
    .container-routine-folder {
      height: 17.5vh;
      border: 0.15px solid rgb(221, 221, 221);
      .routine-header {
        @include mixins.dflex(space-between, center, row);
        margin: 0 1rem;
        height: 40%;
        p {
          font-weight: 700;
        }
        .close-button {
          @include mixins.x-button();
        }
      }
      .routine-stats {
        @include mixins.dflex(space-between, stretch, column);
        p {
          margin-left: 1rem;
        }
        .text-dones {
          margin-top: 0.5rem;
        }
      }
    }
  }

  .buttons {
    width: 100%;
    @include mixins.dflex(center, center, row);
    button {
      place-self: center;
      width: calc(100% - 2rem);
      height: 65%;
      &.add {
        @include mixins.button-primary(
          $color-primary,
          $color-primary-hover-button,
          white,
          white,
          0,
          0
        );
      }
    }
  }

  &.darkMode {
    background-color: $color-2-darkmode;
    .modal-select-search {
      span {
        background-color: $color-1-darkmode !important;
        border: 1px solid white;
        input {
          color: white;
          &::placeholder {
            color: white;
          }
        }
      }
    }
    .modal-select-list {
      &::-webkit-scrollbar-track {
        background: $color-1-darkmode;
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background: $color-2-darkmode;
        border-radius: 1rem;
      }
      .container-routine-folder {
        border: 1px solid $color-1-darkmode;
      }
    }
  }
  &.web {
    margin: 10vh calc((100vw - 35vw) / 2);
    max-width: 35vw;
  }
}
