.temporizador.gridOn {
  grid-template: 10% 1fr 10% 10% / 100% !important;
}

.temporizador {
  display: grid;
  grid-template: 10% 15% 1fr 10% 10% / 100%;
  box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 1);
  position: absolute;
  height: 5vh;
  background-color: #414141;
  color: white;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  .titleCountdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    h3 {
      font-size: 1rem;
    }
    .skipButton {
      height: 50%;
      width: 30%;
      background-color: #656565;
      border: 0;
      color: white;
      cursor: pointer;
      border-radius: 0.25rem;
    }
  }
  .timer {
    place-self: center;
    display: grid;
    grid-template: 60% 10% 30% / 45% 10% 45%;
    width: 70%;
    height: 60%;
    .timer-count {
      display: grid;
      place-items: center;
      grid-template-rows: 20% 80%;
      input {
        width: 80%;
        height: 80%;
        border-radius: 0.25rem;
        border: 0;
        background: #363636;
        box-shadow: inset 1px 1px 8px rgb(27, 27, 27);
        color: white;
        font-size: 3rem;
        text-align: center;
        &:focus {
          outline: none;
        }
        &::-webkit-inner-spin-button,
        ::-webkit-outer-spin-button {
          -webkit-appearance: none;
        }
      }
    }
    .separator-timer {
      p {
        grid-area: 2 / 1 / 3 / 2;
        place-self: center;
        font-size: 4rem;
      }
    }
    .button-timer {
      grid-area: 3 / 1 / 4 / 4;
      place-self: center;
      button {
        width: 60vw;
        transition: 0.5s;
        height: 5vh;
        border: 1px solid white;
        color: white;
        background: transparent;
        border-radius: 0.25rem;
        &:hover {
          color: black;
          background-color: white;
        }
      }
    }
  }
  .infoCountdown {
    padding: 0rem 1rem;
    place-self: center;
  }
  .listCountdowns {
    place-self: center;
    display: grid;
    grid-template-rows: repeat(3, 0.5fr);
    height: 50%;
    width: 100%;
    .unTimer {
      place-self: center;
      opacity: 50%;
      text-align: center;
    }
    .itemCountdown {
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 0.5px solid rgb(45, 45, 45);
      border-bottom: 0.5px solid rgb(45, 45, 45);
    }
  }
  .sectionTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    .timer {
      display: grid;
      grid-template: 70% 30% / 45% 10% 45%;
      width: 50%;
      height: 50%;
      .timer-count {
        display: grid;
        grid-template-rows: 20% 80%;
        .name-timer-count {
          place-self: center;
        }
        h2 {
          place-self: center;
          font-size: 4rem;
        }
      }
      .timer-count.separator {
        p {
          grid-area: 2 / 1 / 3 / 2;
          place-self: center;
          font-size: 4rem;
        }
      }
      .timer-buttons {
        grid-area: 2 / 1 / 3 / 4;
        display: flex;
        justify-content: space-around;
        button {
          width: 30%;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #6e6e6e;
          border: 0;
          color: white;
          &:active {
            background-color: rgb(37, 37, 37);
          }
        }
        .buttonDelete,
        .buttonAdd {
          font-size: 1.25em;
        }
      }
    }
  }
  .activador {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
  }
  .createCountdown {
    place-self: center;
    button {
      width: 85vw;
      height: 5vh;
      border: 0;
      border-radius: 0.25rem;
    }
  }
  .countdownEmpty {
    opacity: 50%;
    place-self: center;
    text-align: center;
  }
}
