.modal-exercises {
  position: absolute;
  top: calc(15% + 1rem);
  z-index: 999;
  align-self: center;
  box-shadow: -0.5px -0.5px 10px rgba($color: #000000, $alpha: 0.15),
    0.5px 0.5px 10px rgba($color: #000000, $alpha: 0.15);
  border-radius: 0.25rem;
  display: grid;
  grid-template-rows: 12.5% 12.5% 55% 10% 10%;
  width: calc(100% - 2rem);
  height: calc(70% - 2rem);
  margin: 0 1rem;
  background-color: white;
  .modal-exercises-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    p {
      font-weight: 700;
    }
    button {
      color: red;
      border: none;
      background-color: transparent;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .modal-exercises-search {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      width: 100%;
      height: 60%;
      margin: 0.5rem 1rem;
    }
  }
  .modal-exercises-list {
    background: linear-gradient(180deg, #ffffff, #fbfbfb 100%) !important;
    .empty-container,
    .error-container,
    .search-empty-container {
      color: silver;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: thin;
      font-style: italic;
    }
    .exercise-container {
      cursor: pointer;
      height: 20%;
      width: 100%;
      border-top: 0.5px solid silver;
      border-bottom: 0.5px solid silver;
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      align-items: center;
      font-weight: 500;
      transition: 0.25s;
      &:hover {
        text-decoration: underline;
        background-color: rgb(250, 250, 250);
      }
    }
    .exercise-container.onSelect {
      background-color: rgb(250, 250, 250);
    }
  }
  .modal-exercises-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0rem 1rem;
    gap: 10px;
    .button-delete,
    .button-add {
      width: calc(100%);
      height: 75%;
      align-self: center;
      background-color: transparent;
      border-radius: 0.25rem;
      color: #e94560;
      border: 1px solid #e94560;
      transition: 0.25s;
      &:hover {
        background-color: #e94560;
        color: white;
        text-decoration: underline;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
  .modal-exercises-create {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 100%;
      margin: 0 1rem;
      height: 75%;
      border: 0;
      color: white;
      font-weight: 600;
      background-color: #e94560;
      border-radius: 0.25rem;
      &:hover {
        background-color: #ca3049;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
.back {
  z-index: 900;
  background-color: rgb(250, 250, 250, 0.6);
  backdrop-filter: blur(5px);

  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.back.create {
  z-index: 1000;
}
.back.delete {
  z-index: 1003;
}

.modal-create-exercise {
  display: grid;
  grid-template-rows: 0.75fr 4fr;
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  height: 50vh;
  width: calc(100% - 2rem);
  box-shadow: -0.5px -0.5px 10px rgba($color: #000000, $alpha: 0.15),
    0.5px 0.5px 10px rgba($color: #000000, $alpha: 0.15);
  margin: 25vh 1rem;
  z-index: 1001;
  background-color: white;
  .header-create {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    font-weight: 600;
    button {
      border: 0;
      color: red;
      background-color: transparent;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
  .form-create {
    display: grid;
    grid-template-rows: 2.5vh 1fr 1fr 1fr 7.5vh;
    align-self: center;
    height: 100%;
    .errors {
      font-size: 0.85rem;
      font-style: italic;
      padding-left: 1rem;
    }
    .name-input-create,
    .muscle-input-create,
    .type-input-create {
      display: flex;
      flex-direction: column;
      justify-content: center;
      label {
        padding-left: 1rem;
        margin-bottom: 0.5rem;
      }
      input,
      select {
        width: calc(100% - 2rem);
        height: 40%;
        margin-left: 1rem;
      }
    }
    .container-submit {
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        cursor: pointer;
        background-color: #e94560;
        border: 0;
        color: white;
        border-radius: 0.25rem;
        height: 65%;
        width: calc(100% - 2rem);
        &:hover {
          background-color: #ca3049;
        }
      }
    }
  }
}

.modal-delete {
  display: grid;
  position: absolute;
  top: 0;
  grid-template-rows: repeat(2, 1fr) 0.75fr;
  box-shadow: -0.5px -0.5px 10px rgba($color: #000000, $alpha: 0.15),
    0.5px 0.5px 10px rgba($color: #000000, $alpha: 0.15);
  z-index: 1004;
  background-color: white;
  border-radius: 0.25rem;
  width: calc(100% - 2rem);
  height: 25%;
  margin: 35vh 1rem;
  .container-text {
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: 600;
  }
  .list-exercises-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-style: italic;
  }
  .container-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    button {
      width: 90%;
      height: 60%;
      border: 0;
      border-radius: 0.25rem;
      font-weight: 500;
    }
    .accept {
      background-color: #e94560;
      color: white;
      border: 0;
    }
  }
}
