.popover {
  .css-3bmhjh-MuiPaper-root-MuiPopover-paper {
    box-shadow: 1px 1px 6px rgba($color: #000000, $alpha: 0.1);
  }
}
.popover-menu {
  display: grid;
  width: 125px;
  height: 75px;
  p {
    align-self: center;
    padding-left: 1rem;
  }
}
