@use "src/styles/shared/mixins.scss";
@import "src/styles/shared/variables.scss";

@include mixins.media-up(md-sm, md) {
  .main-dashboard {
    nav.section-nav-dashboard {
      width: calc(100% - 4rem);
      margin: 0rem 2rem;
      .app,
      .view,
      svg {
        margin: 0;
        padding: 0;
      }
    }
    .div-search {
      width: calc(100% - 4rem);
      margin: 0rem 2rem;
      span,
      button {
        margin: 0;
      }
    }
    .home {
      .list-last-routines {
        .routine-container {
          width: calc(100vw - 4rem);
          margin: 1rem 0;
          position: relative;
          left: 2rem;
        }
      }
    }
    .routines section.section-list-routines .routine-container,
    .folders section.section-list-folders .folder-container {
      width: calc(100% - 4rem);
      margin: 1rem 2rem;
    }
  }
}

@include mixins.media-up(md, lg-lg-lg) {
  .main-dashboard {
    section.folders {
      section.section-list-folders {
        .folder-container {
          height: 90% !important;
          .header-folder {
            height: 20% !important;
          }
        }
      }
    }
  }
}

@include mixins.media-up(md, sm-lg) {
  .main-dashboard.grid-web {
    .div-search {
      padding: 0 1rem;
    }
    .routines section.section-list-routines,
    .folders section.section-list-folders {
      padding: 0;
    }
    .home .list-last-routines {
      padding-top: 10%;
    }
  }
}

@include mixins.media-up(md, md-md-lg) {
  .main-dashboard.grid-web {
    grid-template-columns: 30% 70%;
    .home {
      .list-last-routines {
        flex-direction: column;
        .routine-container {
          width: 80%;
          margin: 0.5rem;
        }
      }
    }
  }
}
@include mixins.media-up(md-md-lg, lg-lg-lg) {
  .main-dashboard.grid-web {
    grid-template-columns: 20% 80%;
  }
}

@include mixins.media-up(md-md-lg, sm-lg) {
  .main-dashboard.grid-web .home {
    .list-last-routines {
      flex-direction: column;
      .routine-container {
        width: 80%;
        margin: 0.5rem;
      }
    }
  }
}
@include mixins.media-up(sm-lg, lg-lg-lg) {
  .main-dashboard.grid-web .home {
    .list-last-routines {
      flex-direction: row;
      .routine-container {
        grid-template-rows: 7.5vh 1fr 7.5vh;
        width: 45%;
        height: 35vh;
        margin: 0.5rem;
      }
    }
  }
}
